@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Pet2Share_Web.Models.PetModel
<!-- Content Header (Page
                header) -->
<section class="content-header">
    <h1>
       @Model.Name
    </h1>

</section>

<!-- Main content -->
<section class="content">
    @if (ViewData.ModelState["Error"] != null)
    {
        <div class="alert alert-error alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @ViewData.ModelState["Error"].Errors.First().ErrorMessage;
        </div>
    }
    @if (ViewBag.Success != null && !string.IsNullOrWhiteSpace(ViewBag.Success))
    {
        <div class="alert alert-success alert-dismissible">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">×</button>
            @ViewBag.Success
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <!-- Widget: user widget style 1 -->
            <div class="box box-widget widget-user">
                <!-- Add the bg color to the header using any of the bg-* classes -->
                <div class="widget-user-header bg-black" style="background: url('@(Pet2Share_Web.BL.FormatText.Instance.GetValidImage(Model.PetProfileCover))') center center;background-size:cover;">
                    <h3 class="widget-user-username">@(Model.Name)</h3>
                    <h5 class="widget-user-desc">@(Model.FamilyName)</h5>
                </div>
                <div class="widget-user-image">
                    <img class="img-circle" src="@(Pet2Share_Web.BL.FormatText.Instance.GetValidImage(Model.PetProfilePic, false, Pet2Share_Web.BL.FormatText.Thumbnail400px))" alt="User Avatar">
                </div>
                <div class="box-footer">
                    <div class="row">
                        <div class="col-sm-12">

                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4 border-right">
                            <div class="description-block">
                           @if (Pet2Share_Web.BL.BLAuth.Instance.IsYourProfile(Model.SUser.Id))
                           { 
                                <a class="link-black" href="@Url.Action("ChangeCurrentPet", "Index", new { @id = Model.PetId })">
                                    <i class="fa fa-paw"></i> Feed
                                </a>
                            }
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-4 border-right">
                            <div class="description-block"><a class="link-black" href="@Url.Action("ChangeCurrentPet", "Index", new { @id = Model.PetId, @redirectTo= "connection" })">
    @*<a class="link-black" href="@Url.Action("Index", "Connections", new { @id = Model.PetId })">*@
        <i class="fa fa-user"></i> Connections
    </a>
</div><!-- /.description-block -->
                        </div><!-- /.col -->
                        <div class="col-sm-4">
                            <div class="description-block">
                                <a class="link-black" href="#">
                                    <i class="fa fa-comments"></i> Messages
                                </a>
                            </div><!-- /.description-block -->
                        </div><!-- /.col -->
                    </div><!-- /.row -->
                </div>
            </div><!-- /.widget-user -->
        </div>

    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="box box-primary">
                <div class="box-header with-border">
                    <h3 class="box-title">About Me</h3>
                    @if (Pet2Share_Web.BL.BLAuth.Instance.IsYourProfile(Model.SUser.Id))
                    {
                        <a href="/Pets/Edit/@Model.PetId" class="text-muted pull-right"><i class="fa fa-edit"></i></a>
                    }
                </div><!-- /.box-header -->
                <div class="box-body">
                    <strong>  <i class="fa fa-file-text-o margin-r-5"></i>About Me</strong>
                    <p class="text-muted">
                        @Model.AboutMe
                    </p>
                    <hr />
                    <strong><i class="fa fa-book margin-r-5"></i>  Fov food</strong>
                    <p class="text-muted">
                        @Model.FavFood
                    </p>



                    <hr>


                </div><!-- /.box-body -->
            </div>

        </div>
    </div>
</section>
<script>
    $(function () {
        $('.sidebar-menu li').removeClass('active');
        $('.menuPets').addClass('active');

    });

</script>
