@model Pet2Share_Web.Models.LoginModel

@using (Html.BeginForm("Index", "Index", FormMethod.Post, new { enctype = "multipart/form-data" })) {
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <p class="row-frm">
        @Html.Label("Email *")
        @Html.TextBoxFor(m => m.Username, new { @class = "txt" })
        @Html.ValidationMessageFor(m => m.Username)
    </p>
    <p class="row-frm">
        @Html.Label("Password *")
        @Html.PasswordFor(m => m.Password, new { @class = "txt" })
        @Html.ValidationMessageFor(m => m.Password)
    </p>
    <div class="rowmn row-frm">
<div class="col6 col-md-6 col-sm-6 col-xs-6 text-center"> Forgot your password?<br />
    <a>Click here</a> </div>
<div class="col6 col-md-6 col-sm-6 col-xs-6">
    @*<button class="btn-violet btn-login">LOGIN</button>*@
    <input type="submit" class="btn-violet btn-login" value="LOGIN" />
</div>
</div>
}