@model Pet2Share_Web.Models.RegisterModel

@using (Html.BeginForm("Index", "Index", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <div class="rowmn row-frm">
        <div class="col6">
            @Html.Label("FirstName *")
            @Html.TextBoxFor(m => m.FirstName, new { @class = "txt" })
            @Html.ValidationMessageFor(m => m.FirstName)
        </div>
        <div class="col6">
            @Html.Label("LastName *")
            @Html.TextBoxFor(m => m.LastName, new { @class = "txt" })
            @Html.ValidationMessageFor(m => m.LastName)
        </div>
    </div>
    <div class="rowmn row-frm">
        <div class="col12">
            @Html.Label("Email *")
            @Html.TextBoxFor(m => m.Email, new { @class = "txt" })
            @Html.ValidationMessageFor(m => m.Email)
        </div>
        <div class="col6">
            @Html.Label("Password *")
            @Html.PasswordFor(m => m.Password, new { @class = "txt" })
            @Html.ValidationMessageFor(m => m.Password)
        </div>
        <div class="col6">
            @Html.Label("Repeat password *")
            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "txt" })
            @Html.ValidationMessageFor(m => m.ConfirmPassword)
        </div>
    </div>
    <div class="rowmn row-frm">
        <div class="col6 col-md-6 col-sm-6 col-xs-6 text-center"> By creating an account you agree to<br />
            our <a>Terms & Privacy</a> </div>
        <div class="col6 col-md-6 col-sm-6 col-xs-6">
            @*<button class="btn-violet btn-login">Create Account</button>*@
            <input type="submit" class="btn-violet btn-login" value="Create Account" />
        </div>
    </div>
}
@if (ViewData["Message"] != null)
{
<script language="javascript">
    alert('@ViewData["Message"]');
</script>
}
