@model List<Pet2Share_API.Domain.Post>

@foreach (var item in Model)
{

    <div class="box box-widget">
        <div class="box-header with-border">
            <div class="user-block">
                <img class="img-circle" src="@Pet2Share_Web.BL.FormatText.Instance.GetValidImage((item.IsPostByPet?item.SPet.ProfilePictureURL:item.SUser.ProfilePictureURL), false,Pet2Share_Web.BL.FormatText.CommonThumbnail)" alt="user image">
                <span class="username"><a href="#">@(item.IsPostByPet ? item.SPet.Name : item.SUser.Name) @(item.Id)</a></span>
                <span class="description">Posted on @item.DateAdded.ToString("ddd, dd MMM")</span>
            </div><!-- /.user-block -->
            <!-- <div class="box-tools">
                 <button class="btn btn-box-tool" data-toggle="tooltip" title="Mark as read"><i class="fa fa-circle-o"></i></button>
                 <button class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i></button>
                 <button class="btn btn-box-tool" data-widget="remove"><i class="fa fa-times"></i></button>
             </div> /.box-tools -->
        </div><!-- /.box-header -->
        <div class="box-body">
            <!-- post text -->
            <p>
                @item.Description
            </p>


            <!-- Social sharing buttons -->
            <button class="btn btn-default btn-xs"><i class="fa fa-share"></i> Share</button>
            <button class="btn btn-default btn-xs"><i class="fa fa-thumbs-o-up"></i> Like</button>
            <span class="pull-right text-muted">@item.PostLikeCount likes - @item.PostCommentCount comments</span>
        </div><!-- /.box-body -->
        @if (item.Comments.Count > 0)
        {
            <div class="box-footer box-comments" id="divComment_@item.Id" style="@(item.Comments.Count>0 ? "display:block" : "display:none")">
                @foreach (var Comment in item.Comments.OrderByDescending(p=>p.DateAdded))
                {
                @Html.Partial("~/Views/Post/_CommentItem.cshtml", Comment)
                }
            </div>
        }
        @Html.Partial("~/Views/Post/_AddComment.cshtml", new Pet2Share_Web.Models.PostCommentModal(item.Id, Pet2Share_Web.BL.BLAuth.Instance.GetUserID(), true))
    </div>
}