@model Pet2Share_Web.Models.PostCommentModal



<!-- /.box-footer -->
<div class="box-footer">


    <img class="img-responsive img-circle img-sm" src="@Pet2Share_Web.BL.FormatText.Instance.GetValidImage(Pet2Share_Web.BL.BLAuth.Instance.GetProfilePic(), false,Pet2Share_Web.BL.FormatText.CommonThumbnail)" alt="alt text">
    <!-- .img-push is used to add margin to elements next to floating images -->
    <div class="img-push">
        @Html.HiddenFor(p => p.PostId)

        @Html.TextBoxFor(p => p.PostMessage, new { maxlength = 300, placeholder = "Press enter to post comment", @id = "txtComment_" + Model.PostId, @class = "form-control input-sm" })
        <p class="help-block">@Html.ValidationMessageFor(p => p.PostMessage)</p>
    </div>
    <div class="text-center">
        <button class="btn btn-block btn-default btn-xs" onclick="LoadComments(@Model.PostId)" id="@("btnLoadComment_"+Model.PostId)">See all</button>
    </div>

</div><!-- /.box-footer -->

<script>



    $(function () {



        $('#@("txtComment_"+Model.PostId)').pressEnter(function () {
           
            if($(this).val().length>300)
            {
                $(this).val().substring(0, 300);
                alert("at most 300 charaters allowed in comments");
                return false;
            }
            $.ajax({
                type: "POST",
                url: "/post/AddComment",
                data: { "PostId":@Model.PostId, "CommentDesc": $('#@("txtComment_"+Model.PostId)').val() },
                success: function (data) {
                    
                    if((data.Error ==null || data.Error==undefined )&& data.CommentData!=null || data.CommentData!=undefined )
                    {
                        $('#@("divComment_"+Model.PostId)').append(data.CommentData);
                        $('#@("divComment_"+Model.PostId)').show();
                        $('#@("txtComment_"+Model.PostId)').val("");
                    }
                },
                fail: function () {

                },done:function( msg ) {
                    alert( "Data Saved: " + msg );
                }

            });
        });

    });




</script>