@model List<Pet2Share_API.Domain.Comment>
@if (Model.Count > 0)
{
    foreach (var Comment in Model.OrderBy(p => p.Id))
    {  <div class="box-comment">
        <!-- User image -->
        <img class="img-circle img-sm" src="@Pet2Share_Web.BL.FormatText.Instance.GetValidImage((Comment.SUser.ProfilePictureURL), false, Pet2Share_Web.BL.FormatText.CommonThumbnail)" alt="user image">
        <div class="comment-text">
            <span class="username">
                <a href="@(Pet2Share_Web.BL.BLAuth.Instance.IsYourProfile(Comment.SUser.Id) ? Url.Action("Index", "Profile") : Url.Action("Details", "Connection", new { @id = Comment.SUser.Id }))"> @Comment.SUser.Name</a>
                <span class="text-muted pull-right">@Comment.DateAdded.ToString("ddd, dd MMM")</span>
            </span><!-- /.username -->
            <p>  @Comment.CommentDescription</p>
        </div><!-- /.comment-text -->
    </div><!-- /.box-comment -->
    }
}